.nav {
  height: 70px;
  background: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.247);
  display: flex;
  align-items: center;
  font-family: "Open Sans","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,sans-serif;
}

.nav-right-item{
  display: flex;
  color: #676767;
  font-size: 15px;
  margin-left: auto;
  margin-right : 10px;
  
}

.nav-item{
  margin-left : 5px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: #fff;
  color: inherit;
  font-size: inherit;
  border: none;
  border-bottom: 3px #9bbf3c;
   transition: border-bottom-color 0.5s ease-in-out;
 -webkit-transition: border-bottom-color 0.5s ease-in-out;
  
}

.dropdown-content {
  margin-top: -1px;
  display: none;
  position: absolute;
  font-size: 13px;
  background-color: #fff;
  border: 1px solid #e0e2e5;
  padding: 0px 16px 0px 0;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(48, 32, 32, 0.075);
  z-index: 1;
}

.dropdown-content2 {
  position: absolute;
  font-size: 13px;
  border: 1px solid #e0e2e5;
  box-shadow: 0px 8px 16px 0px rgba(48, 32, 32, 0.075);
  margin-top: -1px;
  display: none;
  padding: 0px 16px 0px 0;
  min-width: 160px;
  right: 0px;
  white-space: nowrap;
  background-color: #fff;
  z-index: 1;
}

.dropdown-content2 a {
  color: inherit;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a {
  color: inherit;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #fff;}
.dropdown-content2 a:hover {background-color: #fff;}

.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropdown-content2 {display: block;}

.dropdown:hover .dropbtn {
  border-bottom: 3px solid #189dc9;
}

.subtitle{
  font-size: 30px;
  color: #383d40;
  font-weight: bold;
}

.main{
  margin-top : 50px;
}

.conmain{
  text-align: center;
  font-size: 1.285rem;
  color: #0000008a;
}

.subconmain{
  text-align: center;
}

.contents{
  display: flex;
  justify-content: center;
}

.contents-box{
  background-color: rgb(253, 253, 252);
  width: 320px;
  height: 406px;
  border: 1px solid #e0e2e5;
  margin: 20px;
  text-align: center;
}

.contents-title{
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: .85em;
  color: #383d40;
  line-height: 1.3;
  font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue";
  margin-top: 10px;
}

.contents-detail{
  justify-content: center;
  font-size: 1.0rem;
  font-weight: 300;
  margin-bottom: 1.2em;
  line-height: 1.5;
  padding-left: 22.5px;
  padding-right: 22.5px;
  font-family: "Open Sans","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue";
}

.contents-subdetail1{
  text-align: center;
  color: #383d40;
  padding: 10px;
  font-size: .8rem;
  line-height: 1.5;
  font-weight: 100;
  font-family: "Open Sans","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,sans-serif;
}

.contents-subdetail2{
  background: #d8d9db1a;
  text-align: center;
  color: #383d40;
  padding: 10px;
  font-size: .8rem;
  line-height: 1.5;
  font-weight: 100;
  font-family: "Open Sans","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,sans-serif;
}

.contents-box1{
  border-top: 10px;
  border-top-color: #9bbf3c;
  border-top-style: solid;
}

.contents-box2{
  border-top: 10px;
  border-top-color: #189dc9;
  border-top-style: solid;
}

.contents-box3{
  border-top: 10px;
  border-top-color: #d15d2f;
  border-top-style: solid;
}

.contents-button1{
    width: 90%;
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding: 11px 0px 9px;
    margin: 0;
    vertical-align: middle;
    text-align: center;
    border: 0;
    border-radius: 4px;
    box-shadow: inset 0 1px 0 1px rgba(255,255,255,.2), 0 1px 1px rgba(0,0,0,.6);
    font: inherit;
    text-shadow: 1px 1px 1px #7d7d7d;
    cursor: pointer;
    overflow: visible;
    transition: background .2s;
    background: #75a01c;
    background-image: linear-gradient(to top,#75a01c 0%,#acce4e 50px);
}

.contents-button2{
    width: 90%;
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding: 11px 0px 9px;
    margin: 0;
    vertical-align: middle;
    text-align: center;
    border: 0;
    border-radius: 4px;
    box-shadow: inset 0 1px 0 1px rgba(255,255,255,.2), 0 1px 1px rgba(0,0,0,.6);
    font: inherit;
    text-shadow: 1px 1px 1px #7d7d7d;
    cursor: pointer;
    overflow: visible;
    transition: background .2s;
    background: #1834ce;
    background-image: linear-gradient(to top,#1834ce 0%,#189dc9 50px);
}

.contents-button3{
    width: 90%;
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding: 11px 0px 9px;
    margin: 0;
    vertical-align: middle;
    text-align: center;
    border: 0;
    border-radius: 4px;
    box-shadow: inset 0 1px 0 1px rgba(255,255,255,.2), 0 1px 1px rgba(0,0,0,.6);
    font: inherit;
    text-shadow: 1px 1px 1px #7d7d7d;
    cursor: pointer;
    overflow: visible;
    transition: background .2s;
    background: #b14b22;
    background-image: linear-gradient(to top,#b14b22 0%,#d15d2f 50px);
}

.main{
  font-family: "Open Sans","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,sans-serif;
}

.bottom-text{
  color : gray;
  text-align: center;
  font-size: 12px;
}